{% load story_tags %}
<div class="comment mb-2">
    <h6 class="user font-weight-bold">{{comment.user.username}}</h6>
    <span class="date font-weight-light">(26-08-2020)</span>
    <span class="rating">
        {{ comment.rating | render_rating }}
    </span>
    <p class="content">{{comment.content}}</p>
    <div class="login-to-comment">
        {% if request.user.is_authenticated %}
            <!-- this below is the reply button and the reply box -- i will use django if here -->
            <button onclick="showReplyBox(this)" type="button" data-target="reply-box-{{comment.id}}" class="btn btn-link">Reply</button>
            <form method="POST" class="reply-box" id="reply-box-{{comment.id}}">
                {% csrf_token %}
                <div class="form-group no-gutters">
                    <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="container-button-submit">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <input type="hidden" name="replied_comment_id" value="{{comment.id}}">                
            </form>
        {%else %}
            <!-- this below is the login to comment button -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-link">Login to comment</button>
        {% endif %}
    </div>
    <!-- the replies live here-->
    {% for reply in comment.replies %}
        {% reply_tag reply request %}
    {% endfor %}
</div>