{% extends 'base.html' %} 
{% load story_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h3 class="card-title">
                      {% if page == "post_story" %}
                        Posting Cerita
                      {% else %}
                        Edit Cerita
                      {% endif %}
                    </h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <input required type="text" value="{% if story %} {{story.title}}  {% endif %}" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Judul Cerita">
                        </div>
                        <div id="tag-form-group" class="form-group">
                          <label for="tags">Tags</label>
                          <div id="input-tag-list">
                            {% if story %}
                              {%for tag in story.tags%}
                                <div id="tag-{{forloop.counter}}" class="input-tag mt-1">
                                  <input required type="text" class="form-control input-tags" value="{{tag.name}}" name="tag[]" placeholder="Tagar cerita ...">
                                  <button type="button" onclick="deleteTag(this)" data-tag="tag-{{forloop.counter}}" class="btn btn-danger ml-1 delete-tag"><i class="fas fa-trash"></i></button>
                                </div>
                              {%endfor%}
                            {%else %} 
                              <div class="input-tag">
                                <input type="text" required class="form-control input-tags" name="tag[]" placeholder="Tagar cerita ...">
                              </div>
                            {% endif %}
                          </div>
                          <button type="button" class="btn btn-primary mt-1" id="add-tag">Tambah tag</button>
                        </div>
                        <div class="form-group">
                          <textarea required class="form-control" name="content" id="textarea" rows="50">{% if story %}{{story.content}}{% endif %}</textarea>
                        </div>
                        <div class="form-group" style="text-align: right;">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <template id="input-tag-template">
      <div id="tag-1" class="input-tag mt-1">
        <input required type="text" class="form-control input-tags" name="tag[]" placeholder="Tagar cerita ...">
        <button type="button" onclick="deleteTag(this)" data-tag="tag-1" class="btn btn-danger ml-1 delete-tag"><i class="fas fa-trash"></i></button>
      </div>
    </template>
    <script>
      
      function deleteTag(item){
        var targetElement = item
        var deletedElement = document.getElementById(targetElement.getAttribute("data-tag"))
        deletedElement.parentNode.removeChild(deletedElement);
      }
      
      document.getElementById("add-tag").addEventListener("click", (event)=>{
        if ('content' in document.createElement('template')) {
          //clone template
          var template = document.getElementById("input-tag-template")
          var clone = template.content.cloneNode(true)
          
          //specify the tag number
          tag_number = "tag-"+(document.querySelectorAll('.input-tag').length+1);
          containingDiv = clone.firstElementChild
          containingDiv.id = tag_number
          clone.querySelectorAll(".input-tags")[0].id = tag_number;
          clone.querySelectorAll(".btn")[0].dataset.tag = tag_number;

          //add to containing element
          var containingElement = document.getElementById("input-tag-list")
          containingElement.appendChild(clone)
        }else{
          //find another way not using template tag
        }
      });
    </script>
{% endblock %}

{% block title %}
  {% if page == "post_story" %}
    Posting Cerita
  {% else %}
    Edit Cerita
  {% endif %}
{% endblock %}