{% extends 'base.html' %} 
{% load story_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h3 class="card-title">
                      {% if page == "post_story" %}
                        Posting Cerita
                      {% else %}
                        Edit Cerita
                      {% endif %}
                    </h3>
                    {% if page == "post_story" %}
                      {% if rating >= 20 %}
                        {% include 'form_posting_story.html' %}  
                      {%else %}
                        <p>Belum bisa posting cerita. Silakan tambah poin terlebih dahulu dengan berkomentar di postingan lain.</p>
                      {% endif %}
                    {%else %}
                      {% include 'form_posting_story.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <template id="input-tag-template">
      <div id="tag-1" class="input-tag mt-1">
        <!-- <input required type="text" class="form-control input-tags" name="tag[]" placeholder="Tagar cerita ..."> -->
        {% include 'input_tag.html' %}
        <button type="button" onclick="deleteTag(this)" data-tag="tag-1" class="btn btn-danger ml-1 delete-tag"><i class="fas fa-trash"></i></button>
      </div>
    </template>
    <template id="input-tag-template-first">
      {% include 'input_tag.html' %}
    </template>
    <script>
      function renderFirstTagInput(){
        if ('content' in document.createElement('template')) {
            //clone template
            var template = document.getElementById("input-tag-template-first")
            var clone = template.content.cloneNode(true)
            
            //add to containing element
            var containingElement = document.getElementById("input-tag-list")
            containingElement.appendChild(clone)
          }else{
            //find another way not using template tag
          }
      }

      function countTags(){
        return document.querySelectorAll('.input-tag').length;
      }

      function deleteTag(item){
        var targetElement = item
        var deletedElement = document.getElementById(targetElement.getAttribute("data-tag"))
        deletedElement.parentNode.removeChild(deletedElement);
        
        //count the tags
        var tags = countTags()
        if(tags == 0){
          renderFirstTagInput()
        }
      }
      
      document.getElementById("add-tag").addEventListener("click", (event)=>{
        if ('content' in document.createElement('template')) {
          //clone template
          var template = document.getElementById("input-tag-template")
          var clone = template.content.cloneNode(true)
          
          //specify the tag number
          tag_number = "tag-"+(countTags()+1);
          containingDiv = clone.firstElementChild
          containingDiv.id = tag_number
          clone.querySelectorAll(".input-tags")[0].id = tag_number;
          clone.querySelectorAll(".btn")[0].dataset.tag = tag_number;

          //add to containing element
          var containingElement = document.getElementById("input-tag-list")
          containingElement.appendChild(clone)
        }else{
          //find another way not using template tag
        }
      });
    </script>
{% endblock %}

{% block title %}
  {% if page == "post_story" %}
    Posting Cerita
  {% else %}
    Edit Cerita
  {% endif %}
{% endblock %}