{% extends 'base.html' %} 
{% load story_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <a href="/stories">Home</a>
                    <div class="story">
                        <div class="story-info-container">
                            <div class="story-info mb-5">
                                <h3 class="card-title">{{story.title}}</h3>
                                <span class="text-story-info font-weight-light">(3200 kata) by <a href="/user/{{story.user.username}}/profile">{{story.user.username}}</a> on {{story.date_posted}}</span>
                                <span class="text-story-info tags font-weight-light">Tags: 
                                    {% for tag in  story.tags%}
                                        <a href="twitter.com">{{tag.name}}</a> |
                                    {% endfor %}
                                </span>
                                {% if request.user.is_authenticated %}
                                    {% if request.user.username == story.user.username %}
                                        <span class="text-story-info button-story font-weight-light"><a href="/stories/{{story.id}}/edit">Edit Cerita</a></span>
                                        <span class="text-story-info button-story font-weight-light"><a href="/stories/{{story.id}}/delete">Hapus Cerita</a></span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="score-box story-page mr-2">
                                <div class="points-number text-center mb-0">{{story.rating}}</div>
                                <div class="points-text text-center">Points</div>
                            </div>
                        </div>
                        <div class="story-content">
                            <p>{{story.content}}</p>
                        </div>
                    </div>
                    <div class="comments">
                        <h4 class="card-title">Komentar</h4>
                        {% if request.user.is_authenticated %}
                            {% if have_commented == "False" %}
                                {% if request.user.id != story.user.id %}
                                    <form method="POST" class="comment-box">
                                        {% csrf_token %}
                                        <div class="form-skor form-group no-gutters">
                                            <label class="item mr-1" for="exampleFormControlSelect1">Skor</label>
                                            <select name="rating" class="item col-sm-1 form-control  form-control-sm" id="exampleFormControlSelect1">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <div class="form-group no-gutters">
                                            <textarea required name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="container-button-submit">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% for comment in comments %}
                            {% comment_tag comment request%}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showReplyBox(item) {
            var replyBoxId = item.getAttribute("data-target");
            document.getElementById(replyBoxId).classList.toggle("visible");
        }
    </script>
{% endblock %}

{% block title %}
	{{story.title}}
{% endblock %}