{% extends 'base.html' %} 
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    <div class="row">
                       <div class="col-lg-6 mb-4">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'stories' %} active {% endif %}" aria-current="true" href="/stories">Stories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'popular' %} active {% endif %} " href="/stories/popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'best' %} active {% endif %}" href="/stories/best">Best</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'featured' %} active {% endif %}" href="/stories/featured">Featured</a>
                                </li>
                            </ul>
                       </div>
                       <div class="col-lg-6">
                            <form class="form-inline">
                                <input class="searchbar form-control mr-2" type="search" placeholder="Cari berdasarkan judul" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">Pencarian</button>
                            </form>
                       </div> 
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">All Stories</h3>
                    {% for story in stories %}
                        <div class="story-box mb-3">
                            <div class="score-box mr-2">
                                <div class="points-number text-center mb-0">18</div>
                                <div class="points-text text-center">Points</div>
                            </div>
                            <div class="info">
                                <h5 class="mb-0"><a href="/stories/{{story.id}}">{{story.title}}</a></h5>
                                <span class="text-story-info text font-weight-light">(3200 kata) by <a href="youtube.com">{{story.user.username}}</a> on {{story.date_posted}}</span>
                                <span class="text-story-info text tags font-weight-light">Tags: <a href="twitter.com">Cerita</a> | <a href="twitter.com">Cerita Pendek</a> | <a href="twitter.com">Detektif</a>
                                    | <a href="twitter.com">Cerita</a> | <a href="twitter.com">Cerita Pendek</a> | <a href="twitter.com">Detektif</a> 
                                    | <a href="twitter.com">Cerita</a> | <a href="twitter.com">Cerita Pendek</a> | <a href="twitter.com">Detektif</a>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {% if page == 'stories' %} 
        Stories 
    {% elif page == 'popular' %}
        Popular
    {% elif page == 'best' %}
        Best
    {% elif page == 'featured' %}
        Featured
    {% endif %}
{% endblock %}