{% extends 'base.html' %} 
{% load story_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    <div class="row">
                       <div class="col-lg-6 mb-4">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'stories' %} active {% endif %}" aria-current="true" href="/stories">Stories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'popular' %} active {% endif %} " href="/stories/popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'best' %} active {% endif %}" href="/stories/best">Best</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'featured' %} active {% endif %}" href="/stories/featured">Featured</a>
                                </li>
                            </ul>
                       </div>
                       <div class="col-lg-6">
                            <form class="form-inline">
                                <input class="searchbar form-control mr-2" type="search" placeholder="Cari berdasarkan judul" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">Pencarian</button>
                            </form>
                       </div> 
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        {%if page == "stories" %}
                            All Stories
                        {%elif page == "popular" %}
                            Popular Stories
                        {%elif page == "best" %}
                            Best Stories
                        {%else %}
                            Featured Stories
                        {% endif %}
                    </h3>
                    {% for story in stories %}
                        {% story_box_tag story %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {% if page == 'stories' %} 
        Stories 
    {% elif page == 'popular' %}
        Popular
    {% elif page == 'best' %}
        Best
    {% elif page == 'featured' %}
        Featured
    {% endif %}
{% endblock %}