{% extends 'base.html' %} 
{% load story_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    <div class="row">
                       <div class="col-lg-6 mb-4">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'stories' %} active {% endif %}" aria-current="true" href="/stories">Stories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'popular' %} active {% endif %} " href="/stories/popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'best' %} active {% endif %}" href="/stories/best">Best</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if page == 'featured' %} active {% endif %}" href="/stories/featured">Featured</a>
                                </li>
                            </ul>
                       </div>
                       <div class="col-lg-6">
                            <form method="GET" class="form-inline">
                                <input name="judul" class="searchbar form-control mr-2" type="text" placeholder="Cari berdasarkan judul" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">Pencarian</button>
                            </form>
                       </div> 
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        {%if page == "stories" %}
                            All Stories
                        {%elif page == "popular" %}
                            Popular Stories
                        {%elif page == "best" %}
                            Best Stories
                        {%elif page == "search-by-tag" %}
                            Tag: {{tag}}
                        {%elif page == "search-by-judul" %}
                            Judul: {{judul}}
                        {%else %}
                            Featured Stories
                        {% endif %}
                    </h3>
                    {% for story in stories %}
                        {% story_box_tag story %}
                    {% endfor %}
                    {% if stories.len != 0 %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg">
                                {% for num in stories.paginator.page_range %}
                                    {% if page == "stories" %}
                                        <li class="page-item {% if stories.number == num %} active {% endif %}"><a class="page-link" href="/stories?page={{num}}">{{num}}</a></li>
                                    {% elif page == "popular" %}
                                        <li class="page-item {% if stories.number == num %} active {% endif %}"><a class="page-link" href="/stories/popular?page={{num}}">{{num}}</a></li>
                                    {% elif page == "best" %}
                                        <li class="page-item {% if stories.number == num %} active {% endif %}"><a class="page-link" href="/stories/best?page={{num}}">{{num}}</a></li>
                                    {% elif page == "featured" %}
                                        <li class="page-item {% if stories.number == num %} active {% endif %}"><a class="page-link" href="/stories/featured?page={{num}}">{{num}}</a></li>
                                    {% elif page == "search-by-judul" %}
                                        <li class="page-item {% if stories.number == num %} active {% endif %}"><a class="page-link" href="/stories?judul={{judul}}&page={{num}}">{{num}}</a></li>
                                    {% elif page == "search-by-tag" %}
                                        <li class="page-item {% if stories.number == num %} active {% endif %}"><a class="page-link" href="/stories?tag={{tag}}&page={{num}}">{{num}}</a></li>
                                    {%endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {% if page == 'stories' %} 
        Stories 
    {% elif page == 'popular' %}
        Popular
    {% elif page == 'best' %}
        Best
    {% elif page == 'featured' %}
        Featured
    {% endif %}
{% endblock %}