.score-box{
    background-color: #0b6623;
    background-color: #005CBF;
    color: white; 
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score-box.story-page{
    /* font-size: 24px; */
    height: 100px;
    width: 100px;
}

.points-number{
    font-size: 2em;
}

.points-text{
    font-size: 0.7em;
}

.score-box.story-page .points-number{
    font-size: 3em;
}

.score-box.story-page .points-text{
    font-size: 1em;
}

.story-box{
    width: 100%;
    display: flex;
}

.story-box .score-box{
    max-height: 90px;
}

.story-box .info {
    /* width: 90%; */
}

/* .story-box .info .text{
    display: block;
    font-size: 0.9em;
} */

.story-info-container{
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    align-items: center;
    margin-bottom: 30px;
}

.text-story-info{
    /* display: block !important; */
    display: block;
    font-size: 0.9em;
}

.button-story{
    display: inline;
}

.searchbar {
    width: 70% !important;
}

.comment{
    width: 95%;
}


.comment .user{
    display: inline;
}

.comment .login-to-comment{
    text-align: right;
}

.comment .date{
    font-size: 0.9em;
}

.comments .form-skor{
    display: flex;
    align-items: center;
}

.form-skor .item {
    margin-bottom: 0;
}

.comment-box .container-button-submit{
    text-align: right;
}

.reply-box{
    display: none;
}

.reply-box.visible{
    display: block;
}

.checked {
    color: orange;
}

.profile{
    display: flex;
}

.profile-info{
    width: 80%;
}

.profile-info .row-info{
    margin-bottom: 10px;
}

.profile-info .label{
    display: block;
    font-size: 1em;
}

.profile-info .info{
    font-size: 0.9em;
    /* margin-top:100px; */
    /* padding-left:5px */
}

.profile-img{
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;  
    background-image: url('/media/profile_picture/man.svg');
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.profile-img.img-comment{
    width: 64px;
    height: 64px;
}

/* .img-comment{
    width: 10px;
    height: 10px;
} */

.input-tag{
    display: flex;
}

.tags{
    /* max-width: 200px; */
}

.input-tags{
    max-width: 200px;
}

