/* h3{
    color: blue;
} */

/* @media all and (max-width: 990px){
    .form-inline{
        display: block;
    }
} */

.score-box{
    /* background-color: #0b6623; */
    background-color: #005CBF;
    padding: 10px 20px;
    color: white;
}

.points-number{
    font-size: 35px;
}

.points-text{
    font-size: 10px;
}

.story-box{
    width: 100%;
    display: flex;
}

.story-box .score-box{
    max-height: 90px;
}

.story-box .info {
    /* width: 90%; */
}

.story-box .info .text{
    display: block;
    font-size: 0.9em;
}

.story-box .info .text.tags{
    /* width: 60%; */

}

.searchbar {
    width: 70% !important;
}

/* .stories-card-header{

} */