<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/stories">BagiCerita</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
              {% if logged_in == False %}
                <!-- if guest -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-link">Login</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal" class="btn btn-link">Register</button>
              {%else %}
                <!-- if user / logged in -->
                <a href="/user/{{username}}/profile" class="btn btn-link">{{username}}</a>
                <a href="/stories/post" class="btn btn-link">Posting Cerita</a>
                <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal" class="btn btn-link">Posting Cerita</button> -->
                <a href="/logout?next={{request.path_info}}" class="btn btn-link">Logout</a>
              {% endif %}
            </div>
        </div>
</nav>  
  <!-- Modal login modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="wrong-password" class="alert alert-danger" style="display: none;" role="alert">
              Password atau username salah
            </div>
            <form id="loginForm" action="/login" method="POST">
              {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" required class="form-control" id="username-login" placeholder="Username ... ">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" required class="form-control" id="password-login" placeholder="Password ... ">
                </div>
                <div class="form-group">
                    <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#registerModal" class="btn btn-link">Belum punya akun? Daftar</button>
                </div>
                <input type="hidden" id="next-login" name="next" value="{{request.path_info}}">
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal register modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="registerForm" action="/register" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" required class="form-control" id="username-register" placeholder="Username ... ">
                  <small id="error-username-not-available" style="display: none;" class="text-danger">Username tidak tersedia</small>
                </div>
                <div class="form-group">
                  <label for="password1">Password</label>
                  <input type="password" id="password1-register" name="password1" required class="form-control" id="password1-register" placeholder="Password ... ">
                </div>
                <div class="form-group">
                  <label for="password2">Konfirmasi Password</label>
                  <input id="password2-register" type="password" name="password2" required class="form-control" id="password2-register" placeholder="Konfirmasi Password ... ">
                  <small id="error-konfirmasi-password" style="display: none;" class="text-danger">Konfirmasi password salah</small>  
                </div>
                <div class="form-group">
                    <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-link">Sudah punya akun? Login</button>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <script>

    //login request
    var formLogin = document.getElementById("loginForm");
    formLogin.addEventListener('submit',(e)=>{
      e.preventDefault()

      //reset all errors
      document.getElementById("wrong-password").style.display="none"

      const csrftoken = getCookie('csrftoken');
      fetch('/login', {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrftoken
        },
        body: new URLSearchParams({
            'username': document.getElementById("username-login").value,
            'password': document.getElementById("password-login").value,
            'next': document.getElementById("next-login").value
        })
      })
      .then(res=>{
	      // return res.json()
        if(res.status == 200){
          window.location.replace(res.url);
        }else if(res.status == 401){
          console.log("wrong pass");
          document.getElementById("wrong-password").style.display="block"
        }
      })
      .catch((error)=>{
        console.log("error",error)
      })
    })

    //register
    var formRegister = document.getElementById("registerForm");
    formRegister.addEventListener('submit',(e)=>{
      e.preventDefault()

      //reset all error
      document.getElementById("error-konfirmasi-password").style.display="none";
      document.getElementById("error-username-not-available").style.display="none";

        //check if password1 and password 2 equal
        var password1 = document.getElementById("password1-register").value
        var password2 = document.getElementById("password2-register").value
        if(password1 != password2){
          console.log("confirm pass salah")
          document.getElementById("error-konfirmasi-password").style.display="block";
          return;
        }

        
        //send the request
        const csrftoken = getCookie('csrftoken');
        fetch('/register', {
          method: 'POST',
          headers: {
            'X-CSRFToken': csrftoken
          },
          body: new URLSearchParams({
              'username': document.getElementById("username-register").value,
              'password1': document.getElementById("password1-register").value,
          })
        })
        .then(res=>{
	        console.log("res",res)
          if(res.status == 200){
            window.location.replace(res.url);
          }else if(res.status == 400){
            document.getElementById("error-username-not-available").style.display="block";
          }
        })
        .catch((error)=>{
          console.log("error",error)
        });
    })

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    
  </script>