{% extends 'base.html' %} 
{% block content %}
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h2>Andika</h2>
        <div class="row">
            <div class="card" style="width: 100%">
                {% include 'user/profile_tab.html' %}                
                <div class="card-body">
                    <h3 class="card-title">Notifikasi</h3>
                    <ul>
                        <li class="mb-4"><a href="#">Aldo</a> berkomentar di "<a href="#">Ada Apa dengan Nona</a>"</li>
                        <li class="mb-4"><a href="#">Jihan</a> berkomentar di "<a href="#">Bukan Aku Pelakunya</a>"</li>
                        <li class="mb-4"><a href="#">Ilsa</a> berkomentar di "<a href="#">Seratus Tahun Keributan</a>"</li>
                        <li class="mb-4"><a href="#">Tegar</a> berkomentar di "<a href="#">Pembunuhan Roger Ackroyd</a>"</li>
                        <li class="mb-4"><a href="#">Ila</a> berkomentar di "<a href="#">Matinya Seorang Komunis</a>"</li>
                        <li class="mb-4"><a href="#">Ela</a> berkomentar di "<a href="#">Ayahku Seorang Kapiten</a>"</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
	Notifikasi Andika
{% endblock %}
