{% extends 'base.html' %} 
{% block content %}
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h2>{{username}}</h2>
        <div class="row">
            <div class="card" style="width: 100%">
                {% include 'user/profile_tab.html' %}                
                <div class="card-body">
                    <h3 class="card-title">Notifikasi</h3>
                    <ul>
                        {% for comment in comments %}
                            <li class="mb-2"><a href="/user/{{comment.user.username}}/profile">{{comment.user.username}}</a> berkomentar di "<a href="/stories/{{comment.story.id}}">{{comment.story.title}}</a>"</li>
                        {% endfor %}
                        {% if comments.len != 0 %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-sm">
                                    {% for num in comments.paginator.page_range %}
                                        <li class="page-item {% if comments.number == num %} active {% endif %}"><a class="page-link" href="/user/notifikasi?page={{num}}">{{num}}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        {% endif %}
                        <!-- <li class="mb-4"><a href="#">Aldo</a> berkomentar di "<a href="#">Ada Apa dengan Nona</a>"</li>
                        <li class="mb-4"><a href="#">Jihan</a> berkomentar di "<a href="#">Bukan Aku Pelakunya</a>"</li>
                        <li class="mb-4"><a href="#">Ilsa</a> berkomentar di "<a href="#">Seratus Tahun Keributan</a>"</li>
                        <li class="mb-4"><a href="#">Tegar</a> berkomentar di "<a href="#">Pembunuhan Roger Ackroyd</a>"</li>
                        <li class="mb-4"><a href="#">Ila</a> berkomentar di "<a href="#">Matinya Seorang Komunis</a>"</li>
                        <li class="mb-4"><a href="#">Ela</a> berkomentar di "<a href="#">Ayahku Seorang Kapiten</a>"</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
	Notifikasi {{username}}
{% endblock %}
