<div class="card-header">
    <div class="row">
       <div class="col-lg-6 mb-4">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if page == 'profil' %} active {% endif %}" aria-current="true" href="/user/123/profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'notifikasi' %} active {% endif %}" href="/user/123/notifikasi">Notifikasi</a>
                </li>
            </ul>
       </div> 
    </div>
</div>