{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% load story_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h2>{{username}}</h2>
        <div class="row">
            <div class="card" style="width: 100%">
                {% include 'user/profile_tab.html' %}
                <div class="card-body">
                    <h3 class="card-title">Profil</h3>
                    <div class="profile">
                        <div {% if img %} style="background-image: url('/media/{{ img }}')" {% endif %} class="profile-img"></div>
                        <div class="profile-info ml-5">
                            <div class="row-info">
                                <span class="label font-weight-bold">Nama Lengkap</span>
                                <span class="info">{{nama_lengkap}}</span>
                            </div>
                            <div class="row-info">
                                <span class="label font-weight-bold">Tanggal Lahir</span>
                                <span class="info">{{tanggal_lahir}}</span>
                            </div>
                            <div class="row-info">
                                <span class="label font-weight-bold">Gender</span>
                                <span class="info">{{gender|render_gender}}</span>
                            </div>
                            <div class="row-info">
                                <span class="label font-weight-bold">Kota</span>
                                <span class="info">{{kota}}</span>
                            </div>
                            <div class="row-info">
                                <span class="label font-weight-bold">Tentang Saya</span>
                                <p class="info">{{tentang_saya}}</p>
                            </div>
                        </div>
                    </div>
                    <h4 class="card-title">Cerita</h4>
                    {% for story in stories %}
                        {{story|render_story_box}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
	Profil {{username}}
{% endblock %}
